.container-menu-title {
  color: #ffffff;
}

.container-menu-title > h1 {
  font-size: 9rem;
  margin: 1rem 0;
  text-align: center;
  font-weight: 700;
}

.container-menu-title > hr {
  margin: 0.5rem 0 1rem 0;
}
