@media (max-width: 700px) {
  .container-small-card {
    width: 90%;
    margin: 0 auto;
  }

  .small-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article-separator {
    width: 100%;
  }
}
