.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
}

.container-menu-bar > ul > li {
  margin-right: 0.8rem;
  list-style: none;
  color: #fff;
}

.container-menu-bar > ul > li > a {
  color: #fff;
}
